cryptography              ~= 37.0
dataclasses               ~= 0.6
loguru                    ~= 0.6
Pillow                    ~= 9.1
pyMySQL                   ~= 1.0
SQLAlchemy                ~= 1.4
tweepy                    ~= 4.10
wand                      ~= 0.6
